In [2]:
x = 1 
y = 2
z = x + y
print (z)

3

In [3]:
x= 1
y = 2

In [4]:
print(x)

1

In [5]:
print(x)

1

In [6]:
x = x +1

print(x)

2

In [7]:
x = 1
x += 1
print(x)

2

In [8]:
x = 10
y = 20
z = x + y
print (z)

30

In [9]:
x = "10"
y = "thirty"
z = 10.0

print (x + y)

10thirty

In [10]:
x = 100
y = 50 

print (x * y)

5000

In [11]:
pi = 3.14
radius = 2
radius_squared = radius ** 2
circle_area = radius_squared *pi

print (circle_area)

#find the area of the circle by creating 4 variables and assign the integers

12.56

In [12]:
name = "Andy"
hobby = "Running"

name_hobby = name  + " Likes " + hobby

print (name_hobby)

phrase = f"My name is {name},and I like {hobby}"

print (phrase)

#putting strings together and using the f string to combine strings with additional words in between the strings


#the codes are within the blue border and the answer or output are under this blue box

Andy Likes Running
My name is Andy,and I like Running

In [13]:
name1 = "Andy"

job_title = "CEO"


name_title = name + job_title

Title = f"My name is {name1}, and my job title is {job_title}"

print (Title)

#putting strings together and using the f string to combine strings with additional words in between the strings to make meanful snetences

My name is Andy, and my job title is CEO

In [14]:
x = 5
print (x)
x = 6 + x
print (x)
x = 5
print (x)

5
11
5

In [15]:
x = 10
y = 20

#mathematical operations

print( x + y) # plus
print( x - y) # minus
print( x * y) # times
print( x / y) # divide
print( x ** y) # power of

measure = 123
pop = 300000
rate = measure / pop
rp10k = rate * 10000
print (rp10k)

30
-10
200
0.5
100000000000000000000
4.1

In [16]:
my_string = "c://data/CIN_dataset_202324.csv"
#print(my_string)

#in python counting starts at zero
#in a range, the second number is not inclusive, it's exclusive

new_string = my_string [0:12]
print(new_string)


filename = my_string [9:]
print (filename)

short_fn     = filename[:0-4]
print(short_fn)

filetype = my_string [-4:]
print(filetype)

#[start: stop : step]
weird_string = my_string [: : 2]
print (weird_string)

c://data/CIN
CIN_dataset_202324.csv
CIN_dataset_202324
.csv
c/dt/I_aae_034cv

In [17]:
slice_this_phrase = "dog cat raccoon"

#slice string slices to isolate each string as animal_1 , animal_2, animal_3

animal_1 = slice_this_phrase [:3]
print (animal_1)

animal_2 = slice_this_phrase [4:7]
print (animal_2)

animal_3 = slice_this_phrase [-7:]
print (animal_3)

dog
cat
raccoon

In [18]:
list_1 = []
print(type(list_1))

#how to compile a list or store of answers to problems, turn column into a table

x = 1
y = 2.0
z = "three"
list_1 = ["purple", "red"]

list_2 = [x, y, list_1]

print(list_2)

<class 'list'>
[1, 2.0, ['purple', 'red']]

In [19]:
colours = ["red", "blue", "Green"]
print (colours)

colours.append("purple")

print(colours)

colours.append( ["orange", " black"]) # adding a list nested within a list

print(colours)

colours.append ("brown")

print(colours)

# methods of lists
#append
#extend
#insert
#sort

#see python docs fo full list of methods

['red', 'blue', 'Green']
['red', 'blue', 'Green', 'purple']
['red', 'blue', 'Green', 'purple', ['orange', ' black']]
['red', 'blue', 'Green', 'purple', ['orange', ' black'], 'brown']

In [20]:
#storing variables - name of variables is left handside
num_1 = 1 # integer
num_2 = 2.0 # float
name = "Andy" #string
list_1 = [1,2,3,]

print (type(name)) #print is a function

list_1.append ([10,11])
list_1.extend ([3,4,5,])
print(list_1)

list_index_individual = list_1[4]
print(list_index_individual)

list_slice = list_1 [1::2]
print(list_slice)

list_2 = list(range (11))
print(list_2)

<class 'str'>
[1, 2, 3, [10, 11], 3, 4, 5]
3
[2, [10, 11], 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
num_2 = str(num_2)

num_2 = float(num_2)

num_2 = int(num_2)

print(type(num_2))

<class 'int'>

In [22]:
numbers_list = [2,3,4,5,1,6,]
print (numbers_list)

numbers_list.sort(reverse = True)
print(numbers_list)

[2, 3, 4, 5, 1, 6]
[6, 5, 4, 3, 2, 1]

In [23]:
# Dictionary to store variables in any data - key left handside, value right handside

dict_1 = {'key1' :'Value,
          'key2:' : 'Value'}

print(type(dict_1))

SyntaxError: unterminated string literal (detected at line 3) (405733490.py, line 3)

In [ ]:
Andy = {'Name' : 'Andy',
        'Job Title' : 'Analyst',
        'Hours' : 'Too Many',
        'Salary' :10}

colours_dict = {'Ryan' : 'Blue',
                'Soph' : ['Black','Orange'],
                'Laura' : '18',
                'Sam' : {'Mondday': 'White'}
                'Sunday' : 'brown'}

#exercise - make a dictionary of some restaurants and the food they sell

SyntaxError: unterminated string literal (detected at line 22) (3727295964.py, line 22)

In [ ]:

restaurants = {'Mcd' :'burger',
               'KFC': ['chicken wing', 'chickern burger', 'mash with gravy'],
               'local hotel': 'weekdays', 'gastro pub food'
                              'weekends' : 'high tea'}


restaurants ['kebab shop'] = 'kebabs'

print(restaurants.keys())
print (restaurants.values())
print (restaurants.items())

print('curry' in restaurants)
print ('kebab shop' in restaurants)

dict_keys(['Mcd', 'KFC', 'local hotel', 'gastro pub foodweekends', 'kebab shop'])
dict_values(['burger', ['chicken wing', 'chickern burger', 'mash with gravy'], 'weekdays', 'high tea', 'kebabs'])
dict_items([('Mcd', 'burger'), ('KFC', ['chicken wing', 'chickern burger', 'mash with gravy']), ('local hotel', 'weekdays'), ('gastro pub foodweekends', 'high tea'), ('kebab shop', 'kebabs')])
False
True

In [ ]:
#data frames (for example, csv or SQL)
#import it like pandas and what we need from pandas (pd short for pandas)
#from random import randrange # import randrange from Pandas


import pandas as pd

filepath = 'http://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

# read an excel file pd.read_excel(<fileptah>)

In [ ]:
print(header_fake.head(10))
print(header_fake.tail(10))

print(header_fake.info())

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
5  733831    1  06/07/2013   WROM  Z005227500041     NaN    NaN
6   69112    2  11/09/2010   ABAN  X089575916879     NaN    NaN
7  853884    2  09/10/2004   WBRI  U096513817313     NaN    NaN
8  634852    2  19/10/2006   WIRI  X019131453866     NaN    NaN
9  512087    1  01/10/2003   MOTH  J091207487052     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2665  199656    1  08/07/2009   WOTH  G006043737339     NaN    NaN
2666  587124    1  14/10/2006   AOTH  X013739746473     NaN    NaN
2667  558581    1  05/07/2001   MWBC  S048947751783     NaN    NaN
2668  937984    2  08/05/2008   WROM  B072095547455     NaN    NaN
2669  942735    2  27/10/2010   BCRB  V010957149459     NaN    NaN
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [ ]:
#dict of list

#check this with Will

d_1 ={'col1' : [1,2,3],
       'col2' : ['A','B','C'],
       'col3' : ['foo','bar','baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)


#list of dicts

#check this with Will 

df_2= pd.DataFrame([
    {'column1' :1,
     'column2' : 'A',
     'column3' : 'foo'},
    {'column1' :2,
     'column2' : 'B',
     'column3' : 'Bar'},
     {'column1' :3,
     'column2' : 'C',
     'column3' : 'Baz'},])


# #staff = pd.DataFrame([
#     {'Name':'Will Levack-Payne',
#      'Salary':'10',
#      'Job Title':'Teacher'},
#      {'Name':'Annie Levack-Payne',
#      'Salary':'8',
#      'Job Title':'Head Teacher',
#      staff = pd.DataFrame([
#     {'Name':'Will Levack-Payne',
#      'Salary':'10',
#      'Job Title':'Teacher'},
#      {'Name':'Andy Leung',
#      'Salary':'12',
#      'Job Title':'Caretaker'}
# ])

staff = pd.DataFrame([
    {'Name':'Will Levack-Payne',
     'Salary':'10',
     'Job Title':'Teacher'},
     {'Name':'Annie Levack-Payne',
     'Salary':'8',
     'Job Title':'Head Teacher'},
    {'Name':'Andy Levack-Payne',
     'Salary':'7',
     'Job Title':'Trainee Teacher'},
     {'Name':'Naiomi Levack-Payne',
     'Salary':'18',
     'Job Title':'Sports coach'},
     {'Name':'Scout DOg',
     'Salary':'0',
     'Job Title':'Dog'}
])

print(staff)

print(staff.info())
print (staff.head (1))
print (staff['Salary'])
print (staff[['Name', 'Job Title']])

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
                  Name Salary        Job Title
0    Will Levack-Payne     10          Teacher
1   Annie Levack-Payne      8     Head Teacher
2    Andy Levack-Payne      7  Trainee Teacher
3  Naiomi Levack-Payne     18     Sports coach
4            Scout DOg      0              Dog
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Salary     5 non-null      object
 2   Job Title  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes
None
                Name Salary Job Title
0  Will Levack-Payne     10   Teacher
0    10
1     8
2     7
3    18
4     0
Name: Salary, dtype: object
                  Name        Job Title
0    Will Levack-Payne          Teacher
1   Annie Levack-Payne     Head Teacher
2    Andy Levack-Payne  Trainee Teacher
3  Naiomi Levack-Payne     Sports coach
4            Scout DOg              Dog

In [ ]:
staff['Salary'] = staff ['Salary'].astype('int')
print (staff['Salary'].dtypes)

mean_salary = staff['Salary'].mean()
sum_salary = staff ['Salary'].sum()
max_salary = staff ['Salary'].max ()
min_salary = staff ['Salary'].min ()

print(f'The mean salary is : {mean_salary}')
print(f'The total salaries is : {sum_salary}')
print(f'The max and min salaries are : {max_salary},{min_salary}.')

int64
The mean salary is : 8.6
The total salaries is : 43
The max and min salaries are : 18,0.

In [ ]:
x = 10
name = 'Andy'
list_1 = [1,2,3, 'four, name']
dict_1 = {'key':1, 2: 2}
print(type(x))

y = x + 9
print(Y)

In [ ]:
phrase = 'My name is Andy'
sub_string = phrase[3:7]
print (sub_string)

In [ ]:
list_2  = [1,2,3,4,5,6,7,8,9,10]
sub_list = list_2[-4:]
sub_list = list_2 [-1::-1]
print (sub_list)

In [ ]:
list_2  = [1,2,3,4,5,6,7,8,9,10]
list_2.append([11, 12])
list_2.extend([11,12])
list_2.reverse()
list_2.sort()
print(list_2)
print(len(list_2))

In [ ]:
dict_2 = {'key 1': 1,
          'key 2': 2,
          'key 3': 3}

value_list = list(dict_2.values())
print(value_list[1])

In [ ]:
import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

print(df)
df
df.info()
df.head(5)
df['Gender'].unique()
df['CP Plan?'].unique()

  ChildId  Age first contact Gender    Birthday CP Plan?
0     id1                  6      M  01/01/2002        Y
1     id2                 12      m  02/02/2003        n
2     id3                 11      F        <NA>        N
3     id4                  1         03/03/2023       No
4     id5                 19      F  06/01/2012      yES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      object
 4   CP Plan?           5 non-null      object
dtypes: int64(1), object(4)
memory usage: 328.0+ bytes

array(['Y', 'n', 'N', 'No', 'yES'], dtype=object)

In [ ]:
df['Birthday']= pd.to_datetime(df['Birthday'],format='%d/%m/%Y',errors='coerce')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      datetime64[ns]
 4   CP Plan?           5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes
None

In [ ]:
df['Current age']= pd.to_datetime('today').normalize() - df['Birthday']
df['Age at end of reporting period']= pd.to_datetime('31/03/2024', dayfirst= True)-df['Birthday']

df['Current age'] = df['Current age']/pd.Timedelta('365 days')
df['Current age'] = df['Current age'].round().astype('int',errors='ignore')

In [ ]:
df['Age at end of reporting period'] = df['Age at end of reporting period']/pd.Timedelta('365 days')

df['Age at end of reporting period'] = df['Age at end of reporting period'].round().astype('int',errors='ignore')

In [ ]:
df['Gender'] = df['Gender'].str.lower()
df['Gender']

0    m
1    m
2    f
3
4    f
Name: Gender, dtype: object

In [ ]:
import pandas as pd

df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

cp_dict = {'Y' :'y',
           'N': 'n',
           'n':'n',
           'No' :'n',
           'yES' : 'y'}

df['CP Plan?'] = df['CP Plan?'].map(cp_dict)

In [ ]:
cp_cleaner = lambda row: 'y' if 'y' in row else 'n'if 'n'in row else pd.NA
df['CP Plan?'] = df['CP Plan?'].str.lower().apply(cp_cleaner)
df['CP Plan?']

0    y
1    n
2    n
3    n
4    y
Name: CP Plan?, dtype: object

In [ ]:
df['Gender'] = df['Gender'].fillna(pd.NA)   
df['Gender']

df['Gender'] = df['Gender'].replace(r'^\s*$',pd.NA,regex= True)
df['Gender']

0       M
1       m
2       F
3    <NA>
4       F
Name: Gender, dtype: object

In [ ]:
new_child = {
    'ChildId' : ['id6'],
    'Current age' : [10],
    'Age of first contact' : [9],
    'Gender' : ['m'],
    'Birthday' : [pd.to_datetime('28/02/2014',dayfirst = True)],
    'Age at end of reporting period': [10],
    'NHS Number' : ['78132']
}
new_child = pd.DataFrame(new_child)
df = pd.concat([df, new_child], ignore_index=True)

df.drop_duplicates(subset='ChildId',keep='last')

df

,ChildId,Age first contact,Gender,Birthday,CP Plan?,Current age,Age of first contact,Age at end of reporting period,NHS Number
0,id1,6.0,M,01/01/2002,y,NaN,NaN,NaN,NaN
1,id2,12.0,m,02/02/2003,n,NaN,NaN,NaN,NaN
2,id3,11.0,F,<NA>,n,NaN,NaN,NaN,NaN
3,id4,1.0,<NA>,03/03/2023,n,NaN,NaN,NaN,NaN
4,id5,19.0,F,06/01/2012,y,NaN,NaN,NaN,NaN
5,id6,NaN,m,2014-02-28 00:00:00,NaN,10.0,9.0,10.0,78132

In [24]:
nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

df = pd.merge(df, nhs_numbers, how='left',left_on='ChildId', right_on='ChildId',suffixes=['_original','_nhs_df'])
df['NHS Number_original'] = df['NHS Number_original'].fillna(df['NHS Number_nhs_df'])
df.drop('NHS Number_nhs_df', axis=1, inplace=True)

NameError: name 'pd' is not defined

In [ ]:
df

NameError: name 'df' is not defined

In [36]:
#Looping repeat code over and over again



# for something in thing: 
  #  do process on something

import time
numbers = list (range(1,11))

for number in numbers:
    print (number)
    #time.sleep(1)

1
2
3
4
5
6
7
8
9
10

In [37]:
Alphabet = ["a","b","c","d","e","f","g","h"]

for string  in Alphabet:
    print (string)

a
b
c
d
e
f
g
h

In [40]:
word = 'abcdefg'
for character in word:
    print(character)

a
b
c
d
e
f
g

In [42]:
#nesting loop also multiply by its own number

for number in numbers:
    print (1*number)
    print (2*number)

1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
10
20

In [44]:
numbers =[1,2,3,4,5]
letter = ['a','b','c',]

letter_numbers = []

for number in numbers:
    for letter  in letter:
        letter_numbers.append(f'{number} {letter}')

        print (letter_numbers)

['1 a']
['1 a', '1 b']
['1 a', '1 b', '1 c']
['1 a', '1 b', '1 c', '2 c']
['1 a', '1 b', '1 c', '2 c', '3 c']
['1 a', '1 b', '1 c', '2 c', '3 c', '4 c']
['1 a', '1 b', '1 c', '2 c', '3 c', '4 c', '5 c']

In [49]:
spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']

spreads_toppings = []

for spread in spreads:
    for topping  in toppings:
        spreads_toppings.append(f'{spread} {topping}')

print (spreads_toppings)

['butter ham', 'butter cheese', 'butter sardines', 'jam ham', 'jam cheese', 'jam sardines', 'peanut butter ham', 'peanut butter cheese', 'peanut butter sardines']

In [61]:
dict_1 ={'key 1' :1,
         'key 2' :2,
         'key 3' :3}


print(dict_1.items())
#for value in dict_1.values():
    #print (value)

for key, value in dict_1.items():
    print(f'the key is {key}, the value is {value}')

dict_items([('key 1', 1), ('key 2', 2), ('key 3', 3)])
the key is key 1, the value is 1
the key is key 2, the value is 2
the key is key 3, the value is 3

In [68]:
food_places = {'kfc' : 'chicken',
               'mcd' : 'burger',
               'pizza hut' : 'pizza'}

for restaurant, food in food_places.items():
    print(f'{restaurant}, sells {food}')

kfc, sells chicken
mcd, sells burger
pizza hut, sells pizza

In [ ]:
numbers = [1,2,3]
letters = ['a','b','c']
animals = ['cat','dog','rat']

zipped_stuff = zip(numbers, letters, animals)
#print(list(zipped_stuff))

for num, let, an in zipped_stuff:
    print(f' the number is: {num}, the letter is {let}')

In [69]:
import pandas as pd

df = pd.DataFrame({'Numbers': numbers,
                   'Letters' : letters,
                   'Animals' : animals})


even_or_odd = lambda row: 'even' if row % 2 == 0 else 'odd'

df['Even or Odd'] = df['Numbers'].apply(even_or_odd)

NameError: name 'letters' is not defined