In [2]:
x = 1 
y = 2
z = x + y
print (z)

3

In [3]:
x= 1
y = 2

In [4]:
print(x)

1

In [6]:
print(x)

1

In [7]:
x = x +1

print(x)

2

In [8]:
x = 1
x += 1
print(x)

2

In [10]:
x = 10
y = 20
z = x + y
print (z)

30

In [22]:
x = "10"
y = "thirty"
z = 10.0

print (x + y)

10thirty

In [24]:
x = 100
y = 50 

print (x * y)

5000

In [33]:
pi = 3.14
radius = 2
radius_squared = radius ** 2
circle_area = radius_squared *pi

print (circle_area)

#find the area of the circle by creating 4 variables and assign the integers

12.56

In [36]:
name = "Andy"
hobby = "Running"

name_hobby = name  + " Likes " + hobby

print (name_hobby)

phrase = f"My name is {name},and I like {hobby}"

print (phrase)

#putting strings together and using the f string to combine strings with additional words in between the strings


#the codes are within the blue border and the answer or output are under this blue box

Andy Likes Running
My name is Andy,and I like Running

In [47]:
name1 = "Andy"

job_title = "CEO"


name_title = name + job_title

Title = f"My name is {name1}, and my job title is {job_title}"

print (Title)

#putting strings together and using the f string to combine strings with additional words in between the strings to make meanful snetences

My name is Andy, and my job title is CEO

In [48]:
x = 5
print (x)
x = 6 + x
print (x)
x = 5
print (x)

5
11
5

In [5]:
x = 10
y = 20

#mathematical operations

print( x + y) # plus
print( x - y) # minus
print( x * y) # times
print( x / y) # divide
print( x ** y) # power of

measure = 123
pop = 300000
rate = measure / pop
rp10k = rate * 10000
print (rp10k)

30
-10
200
0.5
100000000000000000000
4.1

In [16]:
my_string = "c://data/CIN_dataset_202324.csv"
#print(my_string)

#in python counting starts at zero
#in a range, the second number is not inclusive, it's exclusive

new_string = my_string [0:12]
print(new_string)


filename = my_string [9:]
print (filename)

short_fn     = filename[:0-4]
print(short_fn)

filetype = my_string [-4:]
print(filetype)

#[start: stop : step]
weird_string = my_string [: : 2]
print (weird_string)

c://data/CIN
CIN_dataset_202324.csv
CIN_dataset_202324
.csv
c/dt/I_aae_034cv

In [29]:
slice_this_phrase = "dog cat raccoon"

#slice string slices to isolate each string as animal_1 , animal_2, animal_3

animal_1 = slice_this_phrase [:3]
print (animal_1)

animal_2 = slice_this_phrase [4:7]
print (animal_2)

animal_3 = slice_this_phrase [-7:]
print (animal_3)

dog
cat
raccoon

In [34]:
list_1 = []
print(type(list_1))

#how to compile a list or store of answers to problems, turn column into a table

x = 1
y = 2.0
z = "three"
list_1 = ["purple", "red"]

list_2 = [x, y, list_1]

print(list_2)

<class 'list'>
[1, 2.0, ['purple', 'red']]

In [10]:
colours = ["red", "blue", "Green"]
print (colours)

colours.append("purple")

print(colours)

colours.append( ["orange", " black"]) # adding a list nested within a list

print(colours)

colours.append ("brown")

print(colours)

# methods of lists
#append
#extend
#insert
#sort

#see python docs fo full list of methods

['red', 'blue', 'Green']
['red', 'blue', 'Green', 'purple']
['red', 'blue', 'Green', 'purple', ['orange', ' black']]
['red', 'blue', 'Green', 'purple', ['orange', ' black'], 'brown']

In [10]:
#storing variables - name of variables is left handside
num_1 = 1 # integer
num_2 = 2.0 # float
name = "Andy" #string
list_1 = [1,2,3,]

print (type(name)) #print is a function

list_1.append ([10,11])
list_1.extend ([3,4,5,])
print(list_1)

list_index_individual = list_1[4]
print(list_index_individual)

list_slice = list_1 [1::2]
print(list_slice)

list_2 = list(range (11))
print(list_2)

<class 'str'>
[1, 2, 3, [10, 11], 3, 4, 5]
3
[2, [10, 11], 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
num_2 = str(num_2)

num_2 = float(num_2)

num_2 = int(num_2)

print(type(num_2))

<class 'int'>

In [18]:
numbers_list = [2,3,4,5,1,6,]
print (numbers_list)

numbers_list.sort(reverse = True)
print(numbers_list)

[2, 3, 4, 5, 1, 6]
[6, 5, 4, 3, 2, 1]

In [19]:
# Dictionary to store variables in any data - key left handside, value right handside

dict_1 = {'key1' :'Value,
          'key2:' : 'Value'}

print(type(dict_1))

<class 'dict'>

In [34]:
Andy = {'Name' : 'Andy',
        'Job Title' : 'Analyst',
        'Hours' : 'Too Many',
        'Salary' :10}

colours_dict = {'Ryan' : 'Blue',
                'Soph' : ['Black','Orange'],
                'Laura' : '18',
                'Sam' : {'Mondday': 'White'}
                'Sunday' : 'brown'}

#exercise - make a dictionary of some restaurants and the food they sell

SyntaxError: unterminated string literal (detected at line 22) (3727295964.py, line 22)

In [41]:

restaurants = {'Mcd' :'burger',
               'KFC': ['chicken wing', 'chickern burger', 'mash with gravy'],
               'local hotel': 'weekdays', 'gastro pub food'
                              'weekends' : 'high tea'}


restaurants ['kebab shop'] = 'kebabs'

print(restaurants.keys())
print (restaurants.values())
print (restaurants.items())

print('curry' in restaurants)
print ('kebab shop' in restaurants)

dict_keys(['Mcd', 'KFC', 'local hotel', 'gastro pub foodweekends', 'kebab shop'])
dict_values(['burger', ['chicken wing', 'chickern burger', 'mash with gravy'], 'weekdays', 'high tea', 'kebabs'])
dict_items([('Mcd', 'burger'), ('KFC', ['chicken wing', 'chickern burger', 'mash with gravy']), ('local hotel', 'weekdays'), ('gastro pub foodweekends', 'high tea'), ('kebab shop', 'kebabs')])
False
True

In [42]:
#data frames (for example, csv or SQL)
#import it like pandas and what we need from pandas (pd short for pandas)
#from random import randrange # import randrange from Pandas


import pandas as pd

filepath = 'http://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

# read an excel file pd.read_excel(<fileptah>)

In [46]:
print(header_fake.head(10))
print(header_fake.tail(10))

print(header_fake.info())

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
5  733831    1  06/07/2013   WROM  Z005227500041     NaN    NaN
6   69112    2  11/09/2010   ABAN  X089575916879     NaN    NaN
7  853884    2  09/10/2004   WBRI  U096513817313     NaN    NaN
8  634852    2  19/10/2006   WIRI  X019131453866     NaN    NaN
9  512087    1  01/10/2003   MOTH  J091207487052     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2665  199656    1  08/07/2009   WOTH  G006043737339     NaN    NaN
2666  587124    1  14/10/2006   AOTH  X013739746473     NaN    NaN
2667  558581    1  05/07/2001   MWBC  S048947751783     NaN    NaN
2668  937984    2  08/05/2008   WROM  B072095547455     NaN    NaN
2669  942735    2  27/10/2010   BCRB  V010957149459     NaN    NaN
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [65]:
#dict of list

#check this with Will

d_1 ={'col1' : [1,2,3],
       'col2' : ['A','B','C'],
       'col3' : ['foo','bar','baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)


#list of dicts

#check this with Will 

df_2= pd.DataFrame([
    {'column1' :1,
     'column2' : 'A',
     'column3' : 'foo'},
    {'column1' :2,
     'column2' : 'B',
     'column3' : 'Bar'},
     {'column1' :3,
     'column2' : 'C',
     'column3' : 'Baz'},])


# #staff = pd.DataFrame([
#     {'Name':'Will Levack-Payne',
#      'Salary':'10',
#      'Job Title':'Teacher'},
#      {'Name':'Annie Levack-Payne',
#      'Salary':'8',
#      'Job Title':'Head Teacher',
#      staff = pd.DataFrame([
#     {'Name':'Will Levack-Payne',
#      'Salary':'10',
#      'Job Title':'Teacher'},
#      {'Name':'Andy Leung',
#      'Salary':'12',
#      'Job Title':'Caretaker'}
# ])

staff = pd.DataFrame([
    {'Name':'Will Levack-Payne',
     'Salary':'10',
     'Job Title':'Teacher'},
     {'Name':'Annie Levack-Payne',
     'Salary':'8',
     'Job Title':'Head Teacher'},
    {'Name':'Andy Levack-Payne',
     'Salary':'7',
     'Job Title':'Trainee Teacher'},
     {'Name':'Naiomi Levack-Payne',
     'Salary':'18',
     'Job Title':'Sports coach'},
     {'Name':'Scout DOg',
     'Salary':'0',
     'Job Title':'Dog'}
])

print(staff)

print(staff.info())
print (staff.head (1))
print (staff['Salary'])
print (staff[['Name', 'Job Title']])

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
                  Name Salary        Job Title
0    Will Levack-Payne     10          Teacher
1   Annie Levack-Payne      8     Head Teacher
2    Andy Levack-Payne      7  Trainee Teacher
3  Naiomi Levack-Payne     18     Sports coach
4            Scout DOg      0              Dog
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Salary     5 non-null      object
 2   Job Title  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes
None
                Name Salary Job Title
0  Will Levack-Payne     10   Teacher
0    10
1     8
2     7
3    18
4     0
Name: Salary, dtype: object
                  Name        Job Title
0    Will Levack-Payne          Teacher
1   Annie Levack-Payne     Head Teacher
2    Andy Levack-Payne  Trainee Teacher
3  Naiomi Levack-Payne     Sports coach
4            Scout DOg              Dog

In [67]:
staff['Salary'] = staff ['Salary'].astype('int')
print (staff['Salary'].dtypes)

mean_salary = staff['Salary'].mean()
sum_salary = staff ['Salary'].sum()
max_salary = staff ['Salary'].max ()
min_salary = staff ['Salary'].min ()

print(f'The mean salary is : {mean_salary}')
print(f'The total salaries is : {sum_salary}')
print(f'The max and min salaries are : {max_salary},{min_salary}.')

int64
The mean salary is : 8.6
The total salaries is : 43
The max and min salaries are : 18,0.